<div class="container mt-4">
    <h2>Lista de Datos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de Puesto</th>
          <th>Tipo de Contrato</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos">
            <td>{{ item.id }}</td>
            <td>{{ item.nombrePuesto }}</td>
            <td>{{ item.tipoContrato }}</td>
            <td>{{ item.link }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  